<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      node_env="production" 
      debuggingEnabled="false" 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
      nodeProcessCountPerApplication="1" 
      maxConcurrentRequestsPerProcess="1024" 
      maxNamedPipeConnectionRetry="3" 
      namedPipeConnectionRetryDelay="2000" 
      asyncCompletionThreadCount="0" 
      initialRequestBufferSize="4096" 
      maxRequestBufferSize="65536" 
      watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade" 
      uncFileChangesPollingInterval="5000" 
      gracefulShutdownTimeout="60000" 
      logDirectory="iisnode" 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      />
      
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>